
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.main-wrapper {
  align-items: center;
  background-color: #bcdfde;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
	overflow-x: hidden;
}

.headline {
  color: cadetblue;
  font-size: 3vw;
  /* position: absolute; */
  top: 30px;
}

#app-menu {
  width: 100%;
  height: 20%;
}
.content-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70%;
  max-width: 1500px;
  width: 90%;
}

.containers-wrapper {
  align-items: center;
  display: flex;
  height: 76%;
  justify-content: space-between;
  width: 100%;
}

.left-wrapper {
  align-items: center;
  background-color: #fff;
  border: 5px solid cadetblue;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  height: 100%;
  position: relative;
  width: 48.5%;
}
#right-menu {
  height: 100%;
  width: 48.5%;
}

.robot-wrapper {
  width: 320px;
  height: 100%;
  position: absolute;
}
.robot-wrapper > * {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
  position: absolute;
  width: 100px;
}

.head {
  left: 50%;
  top: 100px;
  transform: translateX(-50%);
}

.top88 {
  top: 88px;
}

.top100 {
  top: 100px;
}
.top286 {
  top: 286px;
}

.top273 {
  top: 273px;
}

.body {
  left: 50%;
  top: 186px;
  transform: translateX(-50%);
}

.armLeft {
  top: 170px;
  left: 11px;
}

.armRight {
  top: 170px;
  left: 209px;
}
.legRight {
  left: 130px;
  top: 273px;
}

.legLeft {
  left: 90px;
  top: 273px;
}

.buttons-wrapper {
  align-items: center;
  display: flex;
  width: 90%;
  justify-content: flex-end;
}

.btn {
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  border: 5px solid cadetblue;
  color: cadetblue;
  display: flex;
  font-size: 3vh;
  height: 80px;
  justify-content: center;
  min-width: 250px;
  margin-left: 50px;
}

.btn:hover {
  background-color: cadetblue;
  color: #fff;
}

#download {
  display: none;
}

@media only screen and (max-height: 750px) {
  .containers-wrapper {
    min-height: 330px;
  }
  .robot-wrapper {
    height: 430px;
  }

}
@media only screen and (max-width: 750px) {
  .headline {
    font-size: 4vw;
  }
}
@media only screen and (max-width: 610px) {
  .containers-wrapper {
    flex-direction: column;
    height: 56vh;
    min-height: unset;
  }
  #app-menu {
    height: 12vh;
  }
  .armRight {
    top: 44px;
    left: 189px;
}
  .armLeft {
    top: 44px;
    left: 71px;
}
  .buttons-wrapper {
    flex-direction: column;
    height: 18vh;
    justify-content: space-between;
  }
  .btn {
    background-color: cadetblue;
    color: white;
    height: 8vh;
    margin-left: 0;
    min-width: 220px;
  }
  .body{
    top: 56px;
  }
  .headline {
    font-size: 3.5vh;
  }
  .left-wrapper {
    height: 49%;
    width: 100%;
  }
  .legLeft {
    left: 115px;
  }
  .legRight {
    left: 145px;
  }
  #right-menu {
    height: 49%;
    width: 100%;
   
  }
  .robot-wrapper > *{
    height: 60px;
    width: 60px;
  }
  .robot-wrapper {
    width: 320px;
    height: 160px;
    position: relative;
  }
  .top100 {
    top: 4px
  }
  .top88 {
    top: -2px
  }
  .top286 {
    top: 115px;
  }
  
  .top273 {
    top: 108px;
  }
  

}

@media only screen and (max-width: 366px) {
  .robot-wrapper {
    position: absolute;
  }
}
