<div class="wrapper">
    <h1 class="titiR title">{{'menuRight.title' | translate}}</h1>
  <div class="content-wrapper" [ngClass]="{'top17': game.selectedType == 3, 'top6': game.selectedType ==1}">

    <div class="head" [ngStyle]="{'background-image': 'url('+ game.head[game.selectedType] + ')'}" (click)="choosePart(0)"></div>
    <div class="body" [ngStyle]="{'background-image': 'url('+game.body[game.selectedType] + ')'}" (click)="choosePart(1)"></div>
    <div class="arm-left" [ngStyle]="{'background-image': 'url('+ game.armLeft[game.selectedType] + ')'}" (click)="choosePart(2)"></div>
    <div class="arm-right" [ngStyle]="{'background-image': 'url('+ game.armRight[game.selectedType] + ')'}" (click)="choosePart(3)"></div>
    <div class="leg-left" [ngStyle]="{'background-image': 'url('+ game.legLeft[game.selectedType] + ')'}" (click)="choosePart(4)"></div>
    <div class="leg-right" [ngStyle]="{'background-image': 'url('+ game.legRight[game.selectedType] + ')'}" (click)="choosePart(5)"></div>

  </div>

</div>
