
.wrapper {
  align-items: center;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  height: 100%;
  justify-content: center;
  position: relative;
  width: 100%;
  border: 5px solid cadetblue;
}

.title {
  color: cadetblue;
  font-size: 2vw;
  position: absolute;
  top: 20px;
}

.content-wrapper {
  height: 90%;
  position: absolute;
  width: 320px;
}

.content-wrapper > * {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
  position: absolute;
  width: 100px;
}

.head {
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
}
.body {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.arm-left {
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
}
.arm-right {
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
}

.leg-left {
  left: 70px;
  top: 80%;
  transform: translateY(-50%);
}
.leg-right {
  right: 70px;
  top: 80%;
  transform: translateY(-50%);
  
}
@media only screen and (max-height: 750px) {

    .content-wrapper > *{
      height: 80px;
    }
  }
@media only screen and (max-width: 750px) {
  .arm-left {
    left: -20px;
  }
  .arm-right {
    right: -20px;
  }
}

@media only screen and (max-width: 610px) {
  .wrapper {
    align-items: center;
  }

  .title {
    font-size: 1.8vh;
    top: 1.2vh;
  }
  .arm-right {
    top: 61%;
    right: 60px;
  }
  .arm-left {
    top: 61%;
    left: 60px;
  }
  .buttons-wrapper {
    flex-direction: column;
    height: 20vh;
    justify-content: space-between;
  }

  .body {
    top: 88px;
  }

  .leg-left {
    left: 120px;
    top: 140px;
  }
  .leg-right {
    right: 120px;
    top: 140px;
  }

  .content-wrapper > * {
    height: 50px;
    width: 50px;
  }
  .content-wrapper {
    height: 135px;
    position: relative;
    
  }

  
}


@media only screen and (max-width: 366px) {
    .content-wrapper {
      position: absolute;
      top: 0;
    }
    .top17 {
        top: -17px
    }
    .top6 {
        top: -6px
    }
  }
  
