
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  .main-wrapper {
    align-items: center;
    background-color: #bcdfde;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    width: 100vw;
  }

  .headline {
    color: cadetblue;
    font-size: 45px;
    position: absolute;
    top: 50px;
  }

  .buttons-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 25%;
    justify-content: center;

  }

  .btn {
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    border: 4px solid cadetblue;
    color: cadetblue;
    display:flex;
    font-size: 3vh;
    height: 80px;
    justify-content: center;
    min-width: 250px;
  }

  .btn:hover {
    background-color: cadetblue;
    color: #fff;
  }

  @media only screen and (max-width: 750px) {
    .buttons-wrapper {
      flex-direction: column;
      height: 24vh;
    }
    .btn {
      background-color: cadetblue;
      color: white;
      height: 9vh;
      margin-left: 0;
      min-width: 200px;
    }
    .headline {
      font-size: 5vh;
      text-align: center;
    }
  }